html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card-container,
.deck .card-container .card-front,
.deck .card-container .card-back {
    height: 125px;
    width: 125px;
    border-radius: 8px;
}

.deck .card-container {
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.deck .card-container .card-front {
    position: absolute;
    background: red;
    color: #fff;
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.1s linear;
}
.deck .card-container .card-back {
    position: absolute;
    background: #2e3d49;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(0);
    backface-visibility: hidden;
    transition: transform 0.1s linear;
}

.deck .card-container .card-front-open {
    background: #02b3e4;
    cursor: default;
    transform: rotateY(0);
    transition: transform 0.1s linear;
}

.deck .card-container .card-back-close {
    transform: rotateY(180deg);
    transition: transform 0.1sec linear;
}

.deck .card-container .card-front.not-match{
    background: red;
    animation-name: wobble;
    animation-duration: 300ms;
}
@keyframes wobble {
    0% {transform: translateX(0%);}
  50% {transform: translateX(-25%) rotate(-5deg);}
  75% {transform: translateX(25%) rotate(5deg);}
  100% {transform: translateX(0%);}
}

.deck .card-container .card-front.match {
    background: #02ccba;
    pointer-events: none;
    animation-name: rubberBand;
    animation-duration: 1s;
}
@keyframes rubberBand {
  0%, 100% {transform: scale(1);}
  25% {transform: scaleX(1.25) scaleY(0.75);}
  50% {transform: scaleX(0.75) scaleY(1.25);}
  75% {transform: scaleX(1.15) scaleY(0.85);}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #FFDF00;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.congrats {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.congMessage {
    font-weight: 700;
    font-size: 1.2em;
    padding: 0;
}

.details {
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

.repeat {
    width: 130px;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    background-color: #2F8;
    margin-top:  10px;
    border-radius: 5px;
}

